#container {
	background-color: orange;
	width:700px;
	margin:100px auto;
	border: 2px solid red;
	box-shadow: 0 0 10px red
}

.completed {
	color: grey;
	text-decoration: line-through;
}
span{
	background-color: white;
	color: black;
	height: 40px;
	width: 0px;
	margin-right: 20px;
	text-align: center;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 20px 0px 0px ;
}

body {
	font-family: 'Arimo', sans-serif;
	background-image: url("https://images.pexels.com/photos/1532191/pexels-photo-1532191.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
}

h1 {
	color: red;
	display: inline-text;
	text-align: center;
	background-color: yellow;
	text-shadow: 0 0 5px red;
	text-transform: uppercase;
	padding: 10px 20px;
	font-weight: normal;
}

input {
	font-size: 20px;
	color: red;
	width: 500px;
	height: 30px;
	text-align: center;
	display: block;
	margin: 0 auto;
}

input:focus {
	background: yellow;
	border: 3px solid red;
	color: red;
}
li {
	background-color: yellow;
	color: black;
	height: 40px;
	line-height: 40px;
}

li:nth-child(2n){
	background-color: red;
	color: white;
}

.inbox {
	background-color: red;
	display: inline;
	align-content: center;
}

.fa-pencil-alt {
	float: right;
}